/* Author: Thanaphon Chavengsaksongkram */

@font-face {
    font-family: 'Merriweather';
    src: url('https://fonts.googleapis.com/css?family=Merriweather&display=swap'); /* IE9 Compat Modes */
  }
  

/* Mobile-first CSS */
* {
    font-family: 'Merriweather';
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 75px;
    background-color: #2d3945;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

main {
    flex: auto;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
}

footer {
    display: flex;
    justify-content: center;
    font-style: italic;
    height: 100px;
    color: #9da3a8;
    padding-top: 5px;
    padding-bottom: auto;
}

hr.thick {
    border-top: 4px solid #2d3945;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
hr.thin {
    border-top: 2px solid #2d3945;
    margin-top: 3px;
    padding: 0px;
}

hr.normal {
    border-top: 2px solid #2d3945;
    margin-top: 25px;
}

input[type="text"], 
input[type="tel"], 
input[type="email"],
select {
    width: 60%;
    height: 50px;
    border: none; 
    padding: 5px 10px 5px 10px;
    border: solid 1px #eff0f1;
    background-color: #eff0f1;
    border-radius: 3px;
    margin: 5px;
}

input:focus, select:focus {
    border: solid 3px #46698b;
    margin: 3px;
    outline: none;
}
select>option{
    font: inherit;

}

/* Tablet override*/
@media only screen and (min-width: 768px) {
    
}
/* Desktop override */
@media only screen and (min-width: 1024px) {
        
}



/** TO DO *

1. Flex Layout for the forms
2. Font size, font styles, colors
2. Form Box, round edges (Radius border?) + color
3. Margins + Padding
2. Sign-up Button
4. Divider
