header h4 {
  @include font-size(24px);
  margin-left: 25px;
  text-transform: uppercase;
}

header {
  @include flex-col;
  @include desktop {
    @include flex-row;
  }
}

input[type='search'],
input[type='text'],
textarea {
  width: 50%;
  height: 50px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  outline: 0;
}

input::placeholder {
  text-align: left;
  font-style: italic;
  overflow: visible;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  background-image: none;
}
