.message {
  @include grid-row;
  background-color: white;
  border-bottom: 3px solid map-get($main-color, 'border');
  padding-bottom: 15px;
}
.message-header {
  @include grid-col;
}
.message-header > :first-child {
  @include section-title;
}

/* ---- Layout & Spacing --------- */
.message-form {
  @include flex-col {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
}

.message-form > input[type='text'] {
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 50px;
}
.message-form > button {
  width: 60%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.message-form > textarea {
  width: 90%;
  height: 100px;
}
