.social {
  @include grid-row;
  background-color: white;
  border-bottom: 3px solid map-get($main-color, 'border');
}
.social-header {
  @include grid-col;
}
.social-header > :first-child {
  @include section-title;
}

.social-widget {
  @include flex-row {
    flex-wrap: wrap;
  }
  margin: auto;
}

.social-container {
  @include flex-row {
    margin: 25px;
    padding: 10px;
    min-width: 200px;
    max-height: 100px;
  }
  background-color: #fbfbfb;
  border: solid 3px map-get($main-color, 'border');
  border-radius: 5px;
  padding: 25px 50px 25px 25px;
}

.social-container > img {
  width: 50px;
  height: 50px;
}

.social-container h6 {
  @include font-size(20px);
  color: map-get($header-color, 'bg');
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.social-container p {
  @include font-size(25px);
  color: map-get($main-color, 'font');
  padding-top: 0px;
  margin-top: 0px;
}
